<!-- Banner Section Begin -->
<section class="banner">
    <div class="row" >
        <div class="col-xl-12 col-lg-12 m-auto">
            <div class="banner__slider owl-carousel" style="padding-top: 0px;">
            <%all.slider.forEach((slide, index)=>{%>
                <div class="banner__item">
                    <div class="banner__text">
                        <img src="./uploads/slider/<%=slide.image%>" />
                    </div>
                </div>
            <% }) %>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->